.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
    margin-top: 10px;
}

.css-ece9u5{
    margin-top: 20px;
}   

.ant-modal-title{
    text-align: center;
}

/* .ant-modal-content {

    
    width: max-content;
    
} */