@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
  font-family: "sans-serif";
}
a {
  text-decoration: none;
  color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}
.denist-color {
  color: #0288d1;
}
.denist-color-bg {
  background-color: #0288d1;
}
.ant-modal-title {
  text-align: center;
}
.ant-modal-content {
  border-radius: 10px !important;
  overflow: hidden;
}
.ant-btn {
  border-radius: 10px !important;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
